/*ajustes de paginas anexas*/
.redes {
    margin-top: -1em;
  }

.home-image {
  margin-top: -3em;
}

.prices {
  flex: 1;
  margin-right: 10rem;
}

/*estilização pagina planos*/

#planos {
  text-align: center;
  margin-top: -2em;
}
  
.nomePlano {
    font-weight: 700;
}  
  
.pricing {
    list-style: none;
    padding: 1em;
    text-align: center;
    justify-content: center;
}
  
.pricing li {
    background: #fcfcc2;
    margin: 0.5em auto;
    padding: 0.5em;
    max-width: 60em;
    border-radius: 1em;
    text-align: center;
    box-shadow: 0 0.5em 0.6em rgba(60, 60, 50, 0.6);
}