.redes {
  margin-top: -5em;
}

/*estilização instrutor*/
.instrutor {
  display: flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-around;
  gap: 2em;
  padding: 2em 2em;
  background-color: #fdfdda;
}

.instrutor-text {
  flex: 1;
  max-width: 50em;
  text-align: justify;
}

.instrutor-text h3 {
  font-size: 1.2rem;
  margin-bottom: 1.5em;
  color: #efa51c;
  font-weight: 600;
}

.instrutor-img {
  flex: 1;
  max-width: 30em;
}

.instrutor-img img {
  width: 100%;
  height: auto;
  filter: drop-shadow (0.2em 0.2em 0.2em #111)
}

/*galeria instrutor*/
.galeria-instrutor-container {
  overflow: hidden;
  width: 100%;
  position: relative;

}

.galeria-instrutor {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  align-items:center;
  justify-content:space-around;

}

.prof-img img {
width: 16em;
padding: 1em;
object-fit: cover;
border-radius: 20%;
}

.sectionInstrutor {
  text-align: center;
}


@media (max-width: 768px) { /* Ajustes para telas menores */
  .instrutor {
    flex-direction: column-reverse;
    text-align: center;
  }

  .intrutor-text,
  .prof-img {
    max-width: 100%;
    padding: 1em;
  }

  
@media (max-width: 768px) { /* Ajustes para telas menores */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .galeria-instrutor {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: calc(100% * 2);
    animation: scroll 12s linear infinite;
   }

  .galeria-instrutor img {
    width: 15em;
    margin-right: 0.1em;
    animation: scroll 3s linear infinite;
  }

  }
}