/*ajustes de paginas anexas*/
.home-image {
margin-top: 0em;
}

.home {
    background-color: #ffffff;
}

.contact {
  flex: 1;
  margin-right: 10rem;
  padding: 2em;
}

/*estilização pagina contato*/
/* Estilização do formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input, textarea {
  padding: 1em;
  border: 0.1em solid #767472;
  font-size: 1 rem;
}

.textocontato {
  text-align: center;
  padding: 1em;
}

.textocontato p {
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
}

.textoform {
  font-family:  'Quicksand', Arial, sans-serif;
  text-align: center;
}

.botaoenviar {
  padding: 1rem;
  height: auto;
  width: 15rem;
  display: block;
  margin: 0 auto;
  font-family: 'Quicksand', Arial, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #6b6a6a;
  color: #ffffff;
  border: none;
  border-radius: 2em;
  transition: transform 0.5s ease, background-color 0.3s ease;
}

.botaoenviar:hover {
  background-color: #dbe6a8;
  transform: scale(1.05);
}
  /*FIM FORMULARIO DE ENVIO DE EMAIL - AJUSTAR FUTURAMENTE*/

  /*estilização botão whatsapp*/
  .btn-whatsapp {
    display: inline-flex;
    align-items: center;
    gap: 1.5em;
    padding: 0.4em 0.5em;
    background-color: #b0b590;
    color: rgb(30, 27, 27);
    text-decoration: none;
    border-radius: 1.5em;
    font-weight: bold;
    transition: background-color 0.5s ease;
    font-size: 1.5rem;
  }
  
  .btn-whatsapp:hover {
    background-color: #dbe6a8;
    transform: scale(1.05);
  }
  
  .btn-whatsapp .icon {
    flex-shrink: 0;
    color: rgb(30, 25, 25);
    text-align: center;
  }
  /*fim da estilização botão whatsapp*/

  @media (max-width: 768px) { /* Ajustes para telas menores */
  .contact {
    justify-content: center;
    margin: 1em;
  }
}