/*ajustes de paginas anexas*/
.redes {
  margin-top: -100px;
}

.home-image {
margin-top: 0px;
}

.contact {
  flex: 1;
  margin-right: 10rem;
  padding: 5px;
}

/*estilização pagina contato*/
/* Estilização do formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #fed5987b;
  border-radius: 4px;
  font-size: 14px;
}

.textocontato {
  text-align: center;
  padding: 10px;
}

.textocontato p {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.textoform {
  font-family:  'Quicksand', sans-serif;
  text-align: center;
}

.botaoenviar {
  padding: 1rem;
  height: auto;
  width: 15rem;
  display: block;
  margin: 0 auto;

  font-family:  'Quicksand', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #dbe6a8;
  color: #5a2600;
  border: none;
  border-radius: 25px;
  transition: transform 0.5s ease, background-color 0.3s ease;
}

.botaoenviar:hover {
  background-color: #f5b85a;
  transform: scale(1.05);
}
  /*FIM FORMULARIO DE ENVIO DE EMAIL - AJUSTAR FUTURAMENTE*/

  /*estilização botão whatsapp*/
  .btn-whatsapp {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    background-color: #ffc579;
    color: rgb(30, 27, 27);
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.5s ease;
    font-size: 16px;
  }
  
  .btn-whatsapp:hover {
    background-color: #dbe6a8;
    transform: scale(1.05);
  }
  
  .btn-whatsapp .icon {
    flex-shrink: 0;
    color: rgb(30, 25, 25);
    text-align: center;
  }
  /*fim da estilização botão whatsapp*/